{
  "presets": ["latest", 'react'],
  "plugins": ["add-module-exports", "transform-object-rest-spread"],
  "env": {
    "test": {
      "plugins": [
        [
          "module-resolver", {
            "root": ["./web_modules"],
          }
        ],
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [".css", ".styl"]
          }
        ]
      ]
    }
  }
}
