json('./constants.json')

.play-button
  width 3rem
  height play-button-height
  margin-left 1rem
  background #111
  border 0.15rem solid white
  border-radius 50%
  color #ccc
  font-size 1.5rem
  outline none