@require '../cell/constants.styl'
json('./constants.json')

.cell-grid
  margin-top cell-grid-margin-top
  
  &__row
    display flex
    justify-content center
    &:first-child .cell
      border-top cell-border
    
    
