@require './constants.styl';

dead-color = #222
live-color = #1e90ff


.cell
  background dead-color
  border-right cell-border
  border-bottom cell-border
  
  &:first-child
    border-left cell-border
    
  
  &:hover
    background lighten(dead-color, 20)

  &_live
    background live-color
    
    &:hover
      background lighten(live-color, 20)
    