doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='keywords', content='game of life,life,game')
    meta(name='description', content="Conway's game of life")
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    - const faviconPath = require('theme/favicon.ico')
    link(rel='shortcut icon' href=faviconPath)
    title Game of Life
  body
    div(id='game')
